meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=0.8")
meta(name="author" content="Katherine Yang")
meta(name="description" content="\"Good morning\" and \"good night\" tweets, mapped in real-time.")

script(src="/socket.io/socket.io.js")
link(rel="stylesheet" href="https://cesium.com/downloads/cesiumjs/releases/1.74/Build/Cesium/Widgets/widgets.css")
script(src="https://cesium.com/downloads/cesiumjs/releases/1.74/Build/Cesium/Cesium.js")

link(rel='stylesheet' href='/css/style.css')
link(rel="stylesheet" href="/css/day.css" id="themeLink")
link(href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Harmattan&display=swap" rel="stylesheet")

link(rel="icon" type="image/svg+xml" href="/favicon.svg")

meta(property="og:type" content="website")
meta(property="og:image" content="https://cdn.glitch.com/27007ff5-8ae0-489a-8b97-6784bd789999%2Fwaking_up_sleeping.png?v=1602352043270")
meta(property="og:image:width" content="3360")
meta(property="og:image:height" content="1792")
meta(property="og:description" content="\"gm\" and \"gn\" tweets, mapped in real-time.")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@0xMasonH")
meta(name="twitter:creator" content="@0xMasonH")
meta(name="twitter:title" content="gm and gn")
meta(name="twitter:description" content="\"gm\" and \"gn\" tweets, mapped in real-time.")
meta(name="twitter:image" content="https://cdn.glitch.com/27007ff5-8ae0-489a-8b97-6784bd789999%2Fwaking_up_sleeping.png?v=1602352043270")